/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - GENERAL SETTINGS SECTION  */
/*   02 - TYPOGRAPHY SECTION  */
/*   03 - JUMBOTRON SECTION  */
/*   04 - NAVIGATION SECTION */
/*   05 - ABOUT SECTION */
/*   07 - SERVICES SECTION */
/*   08 - SKILLS SECTION */
/*   09 - PORTFOLIO SECTION */
/*   10 - ITEM ONE SECTION */
/*   11 - ITEM TWO SECTION */
/*   12 - ITEM THREE SECTION */
/*   13 - TESTIMONIALS SECTION */
/*   14 - CONTACT SECTION */
/*   15 - FOOTER SECTION */
/*   16 - SINGLE-PROJECT ONE SECTION */
/*   17 - SINGLE-PROJECT TWO SECTION */
/*   18 - SINGLE-PROJECT THREE SECTION */
/*   19 - RESPONSIVE SECTION */




/******** GENERAL SETTINGS SECTION START ********/

html,
body {
    height: 100%;
    width: 100%;
}

.no-padding {
    padding: 0;
}

.preloader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0C0C0C;
    z-index: 6;
    overflow: hidden;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 60px;
    margin: -30px 0 0 -40px;
}

.preloader .lines {
    width: 80px;
    height: 40px;
    position: absolute;
}

.preloader .lines .line {
    width: 90px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    clip: rect(0,0,20px,0);
}

.preloader .lines .line.line-1 {
    top: 0;
    animation: slide 2s ease 0.1s infinite;
}

.preloader .lines .line.line-2 {
    top: 15px;
    animation: slide 2s ease .25s infinite;
}

.preloader .lines .line.line-3 {
    top: 30px;
    animation: slide 2s ease .5s infinite;
}

.preloader .loading-text {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 1px;
    line-height: 10px;
    height: 10px;
    text-transform: uppercase;
}

@keyframes slide {
    0% {
        clip: rect(0,0,20px,0);
    }

    30% {
        clip: rect(0,80px,20px,0);
    }

    50% {
        clip: rect(0,80px,20px,0);
    }

    80% {
        clip: rect(0,80px,20px,80px);
    }

    100% {
        clip: rect(0,80px,20px,80px);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/******** TYPOGRAPHY SECTION START ********/

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #455a64;
}


/******** JUMBOTRON SECTION START ********/

.header {
    background: url('../img/portfolio.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.darken{
    color: #000000;
}

.header .headline {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.ah-headline {
    font-size: 14pt;
    letter-spacing: 8pt;
    color: #fff;
}

.header .btn-default {
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 0px;
    font-size: 8pt;
    letter-spacing: 2pt;
    background-color: #fff;
    color: #1b1b1b;
    box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
    to {
      box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
    }
}

/******** NAVIGATION SECTION START ********/

.menu-btn {
  font-size: 24pt;
  background: none;
  color: #9e9e9e;
  text-align: center;
  cursor: pointer;
  border: 0px;
  top: 30px;
  right: 30px;
  position: fixed;
  z-index: 5;
}

.menu-btn:hover {
  opacity: 0.6;
}

/******** ABOUT SECTION START ********/

.about {
    margin-top: 0px;
}

.about .main-text {
    height: auto;
    background-color: #fff;
}

.about .main-text .links {
    padding: 0;
    margin-left: 50px;
    margin-top: 30px;
    padding-bottom: 200px;
}

.about .main-text ul li {
    display: inline-block;
    margin-left: 20px;
}

.about .main-text ul li .fa {
    font-size: 14pt;
    color: #9e9e9e;
}

.about h2 {
    margin: 0 auto;
    margin-left: 70px;
    padding-top: 240px;
    color: #1b1b1b;
    font-size: 14pt;
    letter-spacing: 3pt;
}

.about p {
    font-size: 10pt;
    letter-spacing: 1pt;
    line-height: 16pt;
    text-align: justify;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 30px;
}

.about .image-bg {
    background: url('../img/Malikblacknwhite.jpg') no-repeat center center;
    position: relative;
    background-size: cover;
    height: 700px;
}

/******** SERVICES SECTION START ********/

.service {
    margin-top: 0px;
}

.service .main-text {
    height: auto;
    background-color: #fff;
}

.service h2 {
    margin: 0 auto;
    margin-left: 70px;
    padding-top: 70px;
    color: #1b1b1b;
    font-size: 14pt;
    letter-spacing: 3pt;
}

.service h4 {
    margin-left: 50px;  
    font-weight: 400;
    font-size: 12pt;
    letter-spacing: 1pt;
}

.service .service-wrap {
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

.service .service-wrap .fa {
    float: left; 
    font-size: 20pt;
    color: #455a64;
}

.service p {
    margin-left: 50px;
    font-size: 11pt;
    letter-spacing: 1pt;
    line-height: 17pt;
    text-align: justify;
    color: #3B3B3B;
}

.service .image-bg {
    background: url('../img/placeholderbg.jpg') no-repeat center center;
    position: relative;
    background-size: cover;
    background-color: #fbf9f4;
    height: 700px;
}

/******** SKILLS SECTION START ********/

.set {
    padding-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}


.single_progress_bar .progress {
    height: 2px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #9e9e9e;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.single_progress_bar .progress-bar {
    background-color: #fff;
}

.single_progress_bar h2{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1pt;
    margin-bottom: 20px;
    margin-left: 0px;
}

/******** PROTFOLIO SECTION START ********/

.work {
    margin-top: 0px;
}

.work .main-text {
    height: auto;
    background-color: #fff;
    
}

.work h2 {
    margin: 0 auto;
    margin-left: 70px;
    padding-top: 250px;
    color: #1b1b1b;
    font-size: 14pt;
    letter-spacing: 3pt;
}

.work p {
    font-size: 10pt;
    letter-spacing: 2pt;
    line-height: 16pt;
    text-align: justify;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 250px;
    padding-top: 30px;
}

 /******** ITEM ONE SECTION START ********/

.item-one .overlay h3 {
    margin-top: 330px;
    color: #fff;
    font-size: 12pt;
    letter-spacing: 2pt;
}

.item-one .overlay h3:hover {
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    color: #707070;
}

.item-one .overlay {
    position: absolute;
    background: #222;
    color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.item-one .overlay:hover {
    opacity: 0.7;
}

.item-one .overlay a {
    text-decoration: none;
}

.work .item-one {
    background: url('../img/cardGame.png') no-repeat center center;
    background-size: cover;
    height: 700px;
}

/******** ITEM TWO SECTION START ********/

.item-two .overlay h3 {
    margin-top: 330px;
    color: #fff;
    font-size: 12pt;
    letter-spacing: 2pt;
}

.item-two .overlay h3:hover {
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    color: #707070;
}

.item-two .overlay {
    position: absolute;
    background: #222;
    color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.item-two .overlay:hover {
    opacity: 0.7;
}

.item-two .overlay a {
    text-decoration: none;
}

.work .item-two {
    background: url('../img/listOfThings.png') no-repeat center center;
    background-size: cover;
    height: 700px;
}

/******** ITEM THREE SECTION START ********/

.item-three .overlay h3 {
    margin-top: 330px;
    color: #fff;
    font-size: 12pt;
    letter-spacing: 2pt;
}

.item-three .overlay h3:hover {
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    color: #707070;
}

.item-three .overlay {
    position: absolute;
    background: #222;
    color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.item-three .overlay:hover {
    opacity: 0.7;
}

.item-three .overlay a {
    text-decoration: none;
}

.work .item-three {
    background: url('../img/techCruchphoto.png') no-repeat center center;
    background-size: cover;
    height: 700px;
}

/******** TESTIMONIALS SECTION START ********/

.review {
    margin-top: 0px;
}

.review .main-text {
    height: auto;
    background-color: #fff;
    margin-bottom: 100px;
}

.review h2 {
    margin: 0 auto;
    margin-left: 70px;
    padding-top: 80px;
    color: #1b1b1b;
    font-size: 14pt;
    letter-spacing: 3pt;
}

.review h4 {
    margin-top: 20px;
    font-size: 12pt;
    letter-spacing: 1pt;
}

.review .user-wrap {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.review .user-wrap img {
    border-radius: 180px;
    width: 90px;
    height: 90px;
}

.review p {
    margin-top: 20px;
    font-size: 10pt;
    letter-spacing: 1pt;
    line-height: 16pt;
    text-align: justify;
}

.review .logo {
    margin-top: 280px;
    margin-left: 40px;
    margin-right: 40px;
}

.review .image-bg {
    background-color: #fafafa;
    height: 700px;
}

/******** CONTACT SECTION START ********/

.contact {
    margin-top: 0px;
}

.contact .main-text {
    height: 700px;
    background-color: #fff;
}

.contact h2 {
    margin: 0 auto;
    margin-left: 70px;
    padding-top: 80px;
    color: #1b1b1b;
    font-size: 14pt;
    letter-spacing: 3pt;
}

.contact h4 {
    font-size: 12pt;
    letter-spacing: 1pt;
}

.contact p {
    font-size: 10pt;
    letter-spacing: 2pt;
    line-height: 16pt;
    text-align: justify;
    margin: 0 auto;
}

.contact a {
    text-decoration: none;
}

.contact .contact-wrap {
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

.contact .contact-wrap .fa {
    margin-top: 20px;
    font-size: 20pt;
}

.contact .form-bg {
    background: url('../img/placeholder.png') no-repeat center center;
    background-size: cover;
    height: 700px;
}

#form {
    padding: 150px 100px;
}

.form-bg .name {
    width: 100%;
    height: 40px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.form-bg .name:focus {
    transition: border .6s;
    -webkit-transition: border .6s;
    outline: none;
    border: 1px solid rgba(255,255,255,.2);
}

.form-bg .email {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.form-bg .email:focus {
    transition: border .6s;
    -webkit-transition: border .6s;
    outline: none;
    border: 1px solid rgba(255,255,255,.2);
}

.form-bg .msg {
    margin-top: 30px;
    width: 100%;
    height: 130px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.form-bg .msg:focus {
    transition: border .6s;
    -webkit-transition: border .6s;
    outline: none;
    border: 1px solid rgba(255,255,255,.2);
}

.form-bg .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10pt;
    letter-spacing: 2pt;
    color: #1b1b1b;
    background-color: #fff;
    border-radius: 0px;
    padding: 15px 40px;
    margin-top: 50px;
}

/******** FOOTER SECTION START ********/

footer {
    background-color: #1b1b1b;
}

footer h4 {
    font-size: 8pt;
    letter-spacing: 2pt;
    margin: 50px auto;
    color: #fff;
}

/******** SINGLE-PROJECT ONE SECTION START ********/

.head {
    width: auto;
    min-height: 600px;
    background-color: #fff;
}

.head h2 {
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
    margin-top: 270px;
    letter-spacing: 8pt;
    color: #1b1b1b;
}

.text h4 {
    font-size: 12pt;
    letter-spacing: 2pt;
}

.text {
    margin: 280px 100px;
}

.text span {
    font-weight: 700;
}

.text p {
    font-size: 12pt;
    letter-spacing: 1pt;
    line-height: 20pt;
    text-align: justify;
}

.button {
    margin-top: 0px;
}

.button h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12pt;
    letter-spacing: 2pt;
    color: #1b1b1b;
}

.button a {
    text-decoration: none;
}

.button .home, .next {
    width: auto;
    height: auto;
     
}


/******** SINGLE-PROJECT TWO SECTION START ********/

.head-two {
    background: url('../img/placeholderbg.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.head-two .headline {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.head-two h2 {
    font-size: 14pt;
    letter-spacing: 8pt;
    color: #fff;
}

.info-two .client-info {
    margin-top: 200px;
}

.info-two .client-info span {
    font-weight: 700;
}

.info-text {
    margin-top: 60px;
    margin-bottom: 200px;
}

.text-two span {
    font-weight: 700;
}

.text-two p {
    font-size: 11pt;
    letter-spacing: 1pt;
    line-height: 18pt;
    text-align: justify;
}

.items {
    margin: 0;
}

.img-wrap-two {
    margin: 0 auto;
}

.item-wrap {
    margin-top: 0px;
    width: auto;
    height: auto;
    background-color: #1b1b1b; 
}

.item-wrap .title {
    font-size: 12pt;
    letter-spacing: 4pt;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #fff;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/******** SINGLE-PROJECT THREE SECTION START ********/

.head-three {
    background: url('../img/placeholderbg.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.head-three .headline {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.head-three h2 {
    font-size: 14pt;
    letter-spacing: 8pt;
    color: #fff;
}

.info-three {
    margin-top: 180px;
    margin-bottom: 180px;
}

.info-three .fa {
    font-size: 28pt;
    margin-top: 10px;
    color: #455a64;
}

.info-three h4 {
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: 2pt;
    margin-top: 20px; 
}

.info-three p {
     margin-top: 10px;
     font-size: 12pt;
     font-weight: 300;
     color: #455a64;
     letter-spacing: 1px;
     line-height: 18pt;
}

.img-wrap-three {
    background: #de6161; 
    background: -webkit-linear-gradient(to right, #2657eb, #de6161); 
    background: linear-gradient(to right, #2657eb, #de6161);
    padding-top: 100px;
    padding-bottom: 100px;
     
}

/******** 404 PAGE START ********/

.header-fullscreen {
    background-color: #1f1f1f;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.header-fullscreen .headline {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.header-fullscreen h1 {
    color: #fff;
    font-size: 160pt;
    letter-spacing: 2pt;
    margin: 0;
    text-shadow: #000000 20px 20px;
}

.header-fullscreen p {
    color: #dcdcdc;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 0pt;
}

.btn-pulse {
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 60px;
    font-size: 8pt;
    letter-spacing: 2pt;
    background-color: #fff;
    color: #1b1b1b;
    box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
    to {
      box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
    }
}

/******** RESPONSIVE SECTION START ********/

    @media only screen and (max-width : 1200px) {
        .img-wrap-three .col-xs-12 {
            margin-bottom: 40px;
        }
        .info-three .col-xs-12 {
            margin-bottom: 40px;
        }
        .service h2 {
            padding-top: 40px;
        }
        .review .main-text {
            margin-bottom: 60px;
        }
        .set {
            padding-top: 120px;
        }
    }

    @media only screen and (max-width : 768px) {

        .work .main-text {
            margin-bottom: 150px;
        }
        .work .col-md-4 {
            margin-top: 30px;
        }
        .text {
            margin: 180px 20px;   
        }
        .text-three {
            margin: 55px 20px;
        }
        .img-wrap-three .col-sm-6 {
            margin-bottom: 25px;
        }
        .img-wrap-three .col-xs-12 {
            margin-bottom: 25px;
        }
        .set {
            padding-top: 120px;
        }
    }

    @media only screen and (max-width : 480px) {
        
        .about h2, .service h2, .review h2, .work h2, .contact h2 {
            margin-left: 30px;
        }
        .about p, .set, .service .service-wrap, .work p, .review .user-wrap, .contact .contact-wrap {
            margin-left: 30px;
            margin-right: 30px;
        }
        .about .main-text .links {
            margin-left: 10px;
        }
        .work .main-text {
            margin-bottom: 150px;
        }
        .work .col-md-4 {
            margin-top: 30px;
        }
        .text {
            margin: 180px 20px;   
        }
        .info-two {
            margin-left: 20px;
            margin-right: 20px;
        }
        .text-two {
            margin-left: 20px;
            margin-right: 20px;
        }
        .img-wrap-three .col-xs-12 {
            margin-bottom: 25px;
        }
        .set {
            padding-top: 120px;
        }
    }
 
    @media only screen and (max-width : 320px) {
        .about h2, .service h2, .review h2, .work h2, .contact h2 {
            margin-left: 30px;
        }
        .about p, .set, .service .service-wrap, .work p, .review .user-wrap, .contact .contact-wrap {
            margin-left: 30px;
            margin-right: 30px;
        }
        .about .main-text .links {
            margin-left: 10px;
        }
        .work .col-md-4 {
            margin-top: 30px;
        }
        .text {
            margin: 180px 20px;    
        }
        .info-two {
            margin-left: 20px;
            margin-right: 20px;
        }
        .text-two {
            margin-left: 20px;
            margin-right: 20px;
        }
        .img-wrap-three .col-xs-12 {
            margin-bottom: 25px;
        }
        .set {
            padding-top: 120px;
        }
        .header-fullscreen h1 {
            font-size: 70pt;
        }
    }